{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">ABOUT PAGE</h1>
    <div class="jumbotron">
       <!--  <div style="display:inline-block"><h4>Developer<h4><br><span class="text-primary text-center"> Vidya Sagar</span></div>
 -->
        <div class="content-section">
            <!-- <img src="D:\vidya sagar\myfiles\learning\MyProject\myproject\static\images\profile.jpg" class="rounded float-right" width="600" height="400">
 -->

        <h4>About the Developer</h4>
        <br>
        <br>
         <h5 class="text-dark text-center">PUNUGOTI VIDYA SAGAR</h5>
        <p>
            Have total of 2+ years of experience in software devlopment using Python and Django. Also have 2+ years of experience in testing(unit testing, Integration testing). Very good knowledge in Automation testing using selenium. This particular project took around 1 month duration to complete.
        </p>
        <div>
            <h3> Social Meida</h3>
            <br>
            <div>
                <h6>LinkedIn</h6>
                <a href="https://www.linkedin.com/in/vidya-sagar-punogoti-819bb316a/">Click to LinkedIn Profile</a>
            </div>

            <div>
                <h6>GitHub</h6>
                <a href="https://github.com/PunugotiVidya">Click to GitHub Profile</a>
            </div>
            <div>
                <h6>Gmail</h6>
                <a href="https://mail.google.com/">punugoti.vidyasagar@gmail.com</a>
            </div>
        </div>

        </div>
    </div>

{% endblock content %}
